html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pc-none {
  display: none;
}

.pc-block {
  display: block;
}

.pc-flex {
  display: flex;
}

.w50 {
  width: 50%!important;
}

.w60 {
  width: 60%!important;
}

.w70 {
  width: 70%!important;
}

.w80 {
  width: 80%!important;
}

.w90 {
  width: 90%!important;
}

.w100 {
  width: 100%!important;
}

.f50 {
  font-size: 50%!important;
}

.f60 {
  font-size: 60%!important;
}

.f70 {
  font-size: 70%!important;
}

.f80 {
  font-size: 80%!important;
}

.f90 {
  font-size: 90%!important;
}

.f100 {
  font-size: 100%!important;
}

.f110 {
  font-size: 110%!important;
}

.f120 {
  font-size: 120%!important;
}

.f130 {
  font-size: 130%!important;
}

.f140 {
  font-size: 140%!important;
}

.f150 {
  font-size: 150%!important;
}

.f160 {
  font-size: 160%!important;
}

.f170 {
  font-size: 170%!important;
}

.f180 {
  font-size: 180%!important;
}

.f190 {
  font-size: 190%!important;
}

.f200 {
  font-size: 200%!important;
}

.p10 {
  padding: 1rem!important;
}

.p20 {
  padding: 2rem!important;
}

.p30 {
  padding: 3rem!important;
}

.p40 {
  padding: 4rem!important;
}

.p50 {
  padding: 5rem!important;
}

.p60 {
  padding: 6rem!important;
}

.p70 {
  padding: 7rem!important;
}

.p80 {
  padding: 8rem!important;
}

.p90 {
  padding: 9rem!important;
}

.p100 {
  padding: 10rem!important;
}

.m10 {
  margin: 1rem!important;
}

.m20 {
  margin: 2rem!important;
}

.m30 {
  margin: 3rem!important;
}

.m40 {
  margin: 4rem!important;
}

.m50 {
  margin: 5rem!important;
}

.m60 {
  margin: 6rem!important;
}

.m70 {
  margin: 7rem!important;
}

.m80 {
  margin: 8rem!important;
}

.m90 {
  margin: 9rem!important;
}

.m100 {
  margin: 10rem!important;
}

.mb10 {
  margin-bottom: 1rem!important;
}

.mb20 {
  margin-bottom: 2rem!important;
}

.mb30 {
  margin-bottom: 3rem!important;
}

.mb40 {
  margin-bottom: 4rem!important;
}

.mb50 {
  margin-bottom: 5rem!important;
}

.mb60 {
  margin-bottom: 6rem!important;
}

.mb70 {
  margin-bottom: 7rem!important;
}

.mb80 {
  margin-bottom: 8rem!important;
}

.mb90 {
  margin-bottom: 9rem!important;
}

.mb100 {
  margin-bottom: 10rem!important;
}

.pc-none {
  display: none;
}

.pc-block {
  display: block;
}

.pc-flex {
  display: flex;
}

.header {
  background-color: #0f228b;
}

/*# sourceMappingURL=style.css.map */
